.quoteCard {
  width: 30rem;
}

a {
  font-weight: 500;
}

.author {
  margin-left: 15rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.bottom {
  color: rgba(255, 255, 255, 0.87);
  width: inherit;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.bottom button a {
  color: rgba(255, 255, 255, 0.87);
}
